@import 'primeicons/primeicons.css';

:root{
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--white);
    // border: 1px solid red;
}

body{
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    position: relative;
    background-color: var(--black);
}

body::-webkit-scrollbar{
    width: 5px;
}

#__nuxt, #__nuxt .app_div{
    width: 100% !important;
    height: 100% !important;
}

.white_text{
    color: var(--white);
}

h1 {
    font-size: 2.5rem;
}